body{
	/*background-color: green;*/
}

a:link {
	color:#39F;
}

#images{
	width: 25%;
	height: auto;
}
#user_post{
	border: 1px solid blue;
	margin: 2px;
}

ul{
	list-style-type: none;
}